{% load compress %} {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/input.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    {% endcompress %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'chatbot/style.css' %}">
</head>
<body>

    <div id="chat-container">
        <div id="chat-header" onclick="toggleChat()">
            <h6 class="font-bold ">💬 Chat with us</h6>
        </div>
        <div id="chat-body">
            <div id="chat-messages">
                <!-- Messages will be dynamically inserted here -->
            </div>
            <div id="chat-input">
                <input type="text" id="user-input" placeholder="Type your message..." onkeypress="handleKeyPress(event)">
                <button onclick="sendMessage()">Send</button>
            </div>
        </div>
    </div>

<script src="{% static 'chatbot/chatbot.js' %}"></script>

</body>
</html>
